[Interface]
PrivateKey = {{ item[0]['stdout'] }}
Address = {{ wireguard_client_ip }}
DNS = {{ wireguard_dns_servers }}

[Peer]
PublicKey = {{ item[1]['stdout'] }}
AllowedIPs = 0.0.0.0/0, ::/0
Endpoint = {{ server_ip }}:{{ wireguard_port }}
