[Interface]
Address = {{ wireguard_server_ip }}
ListenPort = {{ wireguard_port }}
PrivateKey = {{ wg_genkey['results'][0]['stdout'] }}
SaveConfig = false

{% for u in users %}
{% set index = loop.index %}

[Peer]
# {{ u }}
PublicKey = {{ wg_pubkey['results'][index+1]['stdout'] }}
AllowedIPs = {{ wireguard_network_clients_range }}.{{ wireguard_network_clients_start + index }}/32

{% endfor %}
